<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>RuiLong-登录</title>
  <link rel="shortcut icon" href="http://localhost:8888/other/logo.ico">
</head>
<body>
<form role="form" action="/loginIn" method="post">
  *请输入账号:<input type="text" id="name" name="name">
  <br>
  *请输入密码:<input type="password" id="password" name="password">
  <input type="submit" id="login" value="登录">
</form>
<a href="/register">
  <button>没有RL账号?注册</button>
</a>
<br>
<a href="/">
  <button>返回主页</button>
</a>
</body>
</html>