<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>RuiLong-注册</title>
  <link rel="shortcut icon" href="http://localhost:8888/other/logo.ico">
</head>
<body>
<form role="form" action="/registerIn" method="post">
  *请输入账号:<input type="text" name="name" id="name">
  <br>
  *请输入密码:<input type="password" name="password" id="password">
  <br>
  (非必要)请输入邮箱:<input type="text" name="mail" id="mail">
  <input type="submit" name="sign" value="提交">
</form>
<br>
<a href="/">
  <button>返回主页</button>
</a>
</body>
</html>